.g-btn-small{
    @include btn-reset;
    padding-top: 12px;
    padding-bottom: 12px;
}
.g-btn-medium{
    @include btn-reset;
    padding-top: 18px;
    padding-bottom: 18px;
}
.g-btn-large{
    @include btn-reset;
    padding-top: 24px;
    padding-bottom: 24px;
}